<section [ngClass]="{'loading': !taskList.length}">
    <ul *ngIf="taskList.length">
        <li *ngFor="let item of taskList; let i = index">
            <input type="checkbox" title="checkbox" [checked]="item.checked">
            <input type="text" title="task" [value]="item.task">

            <button (click)="deleteItemTaskList(i)">
                <img src="assets/icons/icon-trash.svg" alt="">
            </button>
        </li>
    </ul>
</section>

<app-todo-input-add-itens></app-todo-input-add-itens>
<app-todo-button-delete-all *ngIf="taskList.length" (click)="deleteAllTaskList()">

</app-todo-button-delete-all>
